@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1470px)
	.section_1
		height: 400px
		position: relative
		img
			height: 400px!important
		.owl-dots
			bottom: 20px!important	
@media only screen and (max-width : 1200px)
	.section_inside_2_content
		.inside_2_content
			.section_4
				.sec_4_shadow 
					margin-left: 1%!important	
	.section_landing_2
		min-height: 350px
	.section_landing_7
		.wrap_section7_content
			img
				display: none
	.section_inside_3_content
		.item_3_wrap
			.inside_3_item
				.inside_3_item_info
					b
						font-size: 10px
						margin-left: 5px
	.section_landing_8
		.item_1
			margin-left: 12%
			margin-right: 15%
			h4
				padding-left: 0px
		.item_2
			margin-left: 25%
			margin-right: 36%
		.item_3
			margin-left: 12%	
			margin-right: 15%	
			h4
				padding-left: 80px
		.item_4
			margin-left: 25%
			margin-right: 40%
	.section_main_landing_2
		p 
			font-size: 13px
	.section_4
		.sec_4_shadow
			width: 70%	

	.section_landing_1
		.wrap_right_item			
			background-size: cover
	.section_landing_2, .section_landing_4
		p 
			font-size: 13px
 
@media only screen and (max-width : 1199px)
	.section_6
		img
			margin-top:	26%	
@media only screen and (max-width : 1000px)
	.section_8
		.owl-nav
			.owl-prev
				margin-left: 60px
			.owl-next
				margin-right: 60px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

	.inside_2_top
		p 
			padding-left: 50px!important
			padding-right: 50px!important
			margin-top: 5px!important
		h2
			margin-bottom: 0px!important
	.section_landing_8
		.item_1
			margin-right: 0
		.item_2
			margin-right: 25%
		.item_3	
			margin-right: 15%
		.item_4
			margin-right: 35%
	.section_4
		.sec_4_shadow
			button
				margin-bottom: 30px
			br 
				display: block
	.section_8
		.owl-nav
			.owl-prev
				margin-left: 0px
			.owl-next
				margin-right: 0px	
		.loop
			margin-top: 20px
			.item
				height: 420px
				img
					
					margin-top: 100px
					margin-left: auto
					margin-right: auto
					filter: grayscale(100%)
					opacity: .6
			.center
				transform: scale(1.6)
				z-index: 1000	
				img
					filter: grayscale(0%)
					opacity: 1

	.section_landing_1
		h3
			font-size: 30px	
		.wrap_left_item_2
			right: 80px!important
			top: -50px!important
		.wrap_left_item_3
			width: 100%
			img
				top: -126px!important	
	.section_landing_2
		button
			margin-bottom: 30px

@media only screen and (max-width : 991px)
	.section_landing_1	
		.wrap_left_item_2
			right: -80px!important
			top: -50px!important
		.wrap_left_item_3
			img
				top: -111px!important		
	.section_landing_7
		.wrap_section7_content
			float: left
			margin-top: 0px
			width: 100%
		.wrap_section7_left_item	
			display: none
	.section_landing_6
		padding-bottom: 30px
		.wrap_section6_content
			img
				width: 100%
	.wrap_section2_item
		margin-left: 8%
	footer
		.adress 
			margin-left: 20px
	.sidebar_video
		margin-left: auto
		margin-right: auto			
	.sidebar_akce
		margin-left: auto
		margin-right: auto
	.sidebar_call_me	
		margin-left: auto!important
		margin-right: auto!important		
	.section_inside_3_content
		.inside_3_content
			margin-top: 30px
		.col-md-6
			padding: 0
			&:first-child
			padding-right: 0px!important
		.item_3_wrap
			.inside_3_item
				.inside_3_item_info
		.sidebar_wrap
			.sidebar_filter
				width: 50%	
				margin-right: auto
				margin-left: auto
	.section_inside_2_content
		.sidebar_wrap
			.sidebar_mnu
				width: 50%
				margin-right: auto
				margin-left: auto
		.inside_2_content
			h3
				margin-top: 30px
			.col-md-4
				padding: 0
			.section_4
				.sec_4_shadow 
					margin-left: 12%!important		
			
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


	.header_top_wrap
		.logo_header_wrap
			text-align: center
		h3
			text-align: center
		.call_me
			text-align: center
			width: 176px
			margin-left: auto
			margin-right: auto
		.contacts_header
			text-align: center

	.sec_7_item
		width: 350px
		margin-left: auto
		margin-right: auto
	.section_4
		overflow: hidden
		background: url(../img/sec_4_bg.png)
		background-position:  50% 50%	
		h2
			font-size: 26px
		.sec_4_shadow
			width: 90%
			br 
				display: block
	.section_8
		.loop
			margin-top: 20px
			.item
				height: 420px
				img
					width: 260px
					height: 250px
		.owl-nav
			position: absolute
			top: 100%!important
			left: 42%
			right: 42%
			width: 120px!important
			.owl-prev
				margin-left: 0px
			.owl-next
				margin-right: 0px

	.section_landing_2, .section_landing_4
		margin-right: auto
		margin-left: auto


	.section_landing_1
		.wrap_left_item_1

		.wrap_right_item			
		.wrap_left_item_3
			width: 100%
			img
				top: -125px!important	
	.section_inside_2_content	
		.scheme_work
			width: 300px
			margin-right: auto
			margin-left: auto
			.scheme_work_item
				
				
	.col-xs-1-5,
	.col-sm-1-5,
	.col-md-1-5,
	.col-lg-1-5
 	  position: relative
 	  min-height: 1px
 	  padding-right: 0px
 	  padding-left: 0px

@media only screen and (max-width : 767px)
	.section_1
		.shadow_header_slider
			right: 15%
	.section_landing_6
		.wrap_section6_content
			margin-left: 30%!important
			img
				width: 300px

	.inside_2_top
		p 
			padding-left: 180px!important
			padding-right: 180px!important
			margin-top: 5px!important
		h3
			margin-bottom: 25px!important
			margin-left: 0!important
	.section_inside_2_content
		.sidebar_wrap
			.sidebar_mnu
				width: 70%
				margin-right: auto
				margin-left: auto		
	.section_inside_3_content
		.inside_3_content
			text-align: center!important
			h3
				text-align: center!important
		.sidebar_akce
			margin-bottom: 30px!important
			margin-left: auto
			margin-right: auto
		.sidebar_call_me	
			float:	none
			margin-top: 0px!important
			margin-left: auto!important
			margin-right: auto!important
		.item_3_wrap
			.inside_3_item
				width: 300px!important
				margin-left: auto
				margin-right: auto	
				.akce_in_3
					left: 230px
		.sidebar_wrap
			.sidebar_filter
				width: 70%						

	.section1
		.shadow_header_slider
			right: 50px!important
	.section_landing_8
		text-align: center
		.wrap_section8_content
			
		img
			display: none

		.item_1
			margin-right: 0 
			margin-left: 0
			h4 
				padding-left: 0
		.item_2
			margin-right: 0
			margin-left: 0
		.item_3	
			margin-right: 0
			margin-left: 0
			h4 
				padding-left: 0
				span
					margin-left: 10px
				p 
					margin-left: 10px
		.item_4
			margin-right: 0
			margin-left: 0	
	.section_main_landing_2
		.wrap_section2_content
			width: 322px
			margin-left: auto
			margin-right: auto	
			.wrap_section2_item
				margin-left: 0%	
	footer
		position: relative	
		.footer_item_2
			position: absolute
			top: -145px
		.footer_item_1
			b 
				padding-top: 20px

	.section_landing_1
		h3
			margin-left: 30px
		.wrap_right_item			
				background-size: auto
		.wrap_left_item_2
			display: none		
		.wrap_left_item_3
			width: 70%
			margin-left: 15%	
	.wrap_section2_content
		width: 322px
		margin-left: auto
		margin-right: auto	
		.wrap_section2_item
			margin-left: 0%
	.section_inside_2_content
		.inside_2_content			
			.section_4
				.sec_4_shadow 
					margin-left: 5%!important
@media only screen and (max-width : 600px)
	.section_1
		.shadow_header_slider
			right: 5%								
@media only screen and (max-width : 550px)
	.section_landing_6
		.wrap_section6_content
			margin-left: 25%!important
	.section_1
		height: 300px
		img
			height: 300px
		.shadow_header_slider
			right: 10%	
			position: absolute
			height: 440px
			width: 80%
			img
				width: 35px!important
				height: 22px!important
				margin-top: 90px
			h2
				margin-top: 0px
				font-size: 22px
				margin-bottom: 10px
			h4
				font-size: 12px
				margin-bottom: 0
			.buttons_slider
			

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.section_1
		.shadow_header_slider
			right: 5%	
			width: 90%
	.section_landing_1
		h3
			font-size: 20px!important
	.section_landing_6
		.wrap_section6_content
			margin-left: 20%!important
	.section_inside_2_content
		.sidebar_wrap
			.sidebar_mnu
				width: 95%
				margin-right: auto
				margin-left: auto
	.section_inside_3_content
		.sidebar_wrap
			.sidebar_filter
				width: 95%	
	.inside_2_top
		p 
			padding-left: 50px!important
			padding-right: 50px!important
			margin-top: 5px!important
			font-size: 11px
		h3
			margin-bottom: 30px!important
			font-size: 30px!important		
	.section1
		.shadow_header_slider
			right: 0px!important
			left: 200px
	.sec_7_item
		width: 290px
	.section_4
		h2
			font-size: 20px
		.sec_4_shadow
			width: 100%		
	.section_8
		.owl-nav
			left: 35%!important
	.section_inside_2_content
		.inside_2_content			
			.section_4
				.sec_4_shadow 
					margin-left: 0%!important	
					.col-md-12
						padding: 0		
@media only screen and (max-width : 400px)
	.section_landing_6
		.wrap_section6_content
			margin-left: 10%!important
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.section_landing_6
		.wrap_section6_content
			margin-left: 2.5%!important
	.section_4
		h2
			font-size: 16px
	.section_main_landing_2 
		.wrap_section2_content
			width: 315px	
			p
				font-size: 12.5px	
	.section_landing_1			
		.wrap_left_item_3
			display: none
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.section_landing_9
		.col-md-8
			padding: 0!important
		.col-md-4
			padding-left: 0!important

