@import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden

.hidden
	display: none

 
.wrap_hide_search
	height: 64px
	width: 100%
	background-color: #f8f8f8
	padding-top: 15px
	padding-bottom: 15px
	.hide_search
		form
			position: relative
			input
				width: 89%
				height: 37px
				border: none
				border-radius: 5px
				padding-left: 20px
				color: #848d94
				font-family: "OpenSansRegular" 
				font-size: 14px
		.wrap_search_button
			position: absolute
			top: 0
			right: 0
			width: 110px	
			button
				margin: 0
				margin-top: 1px
				padding: 6px 15px
				&:hover
					background-color: $section_blue
			span
				cursor: pointer
				display: block	
				float: right
				margin-top: -30px
				i 
					color: $section_blue
					font-size: 22px
					&:hover
						color: $dark_yellow
					


.section_landing_1
	min-height: 350px 
	background-image: url("/img/section_landing1_background.png") 
	background-position:  50% 30%
	.col-lg-6
		padding: 0
	h3
		font-family: "OpenSansRegular" 
		font-size: 36px 
		text-align: left
		line-height: 1.2
		margin-top: 65px
		letter-spacing: 2.5px
		color: #fff
		margin-top: 20px

		span
			font-family: "OpenSansBold"!important
			color: #fff!important
	.wrap_left_item_1	
		position: relative
		margin-top: 70px
		.wrap_left_item_2
			width: 140px
			height: 90px
			background-image: url("/img/section_landing1_left_item1.png")	
			position: absolute
			right: 60px
			top: -30px
			p 
				margin: 5px 15px 0 0 
				text-align: center
				color: #fff 
				font-size: 16px
				font-family: "OpenSansExtraBold"
				line-height: 1 
				span
					font-size: 41px
	.wrap_left_item_3
		width: 85%
		min-height: 70px	
		background-color: #15344b
		border: 1px solid #fff	
		border-radius: 5px
		position: relative
		img
			position: absolute
			left: -120px
			top: -125px
		p 
			font-size: 16px	
			font-family: "OpenSansBold"
			color: #fff 
			text-align: center
			margin: 10px 0 0 75px
			line-height: 1.4
			a 
				text-decoration: none
				font-size: 20px
				color: $dark_yellow
				&:hover
					color: #fff
			i 
				margin-left: 10px
				color: $dark_yellow
				height: 150%
	.wrap_right_item
		background-image: url("/img/section_landing1_right_item.png") 
		background-position: 50% 50%
		background-repeat: no-repeat		
		height: 350px
		text-align: center
		p 
			color: #fff 
			font-family: "OpenSansSemiBold"
			font-size: 15px
			text-align: center
			padding-left: 95px
			padding-right: 95px
		h2
			margin: 0 0 25px 0
			padding-top: 60px 
			text-align: center
			letter-spacing: normal
		input
			width: 273px
			height: 37px
			border: none
			border-radius: 5px
			margin-bottom: 10px
			padding-left: 20px
			color: #848d94
			font-family: "OpenSansRegular" 
			font-size: 14px 
		button
			font-family: "OpenSansBold" 
			font-size: 14px 
			border: none
			padding: 8px 23px	
			border-radius: 5px
			color: #fff 
			background-color: $dark_yellow
			margin-top: 10px
			&:hover
				background-color: $section_blue
.inside_2_top
	min-height: 280px!important
	background-image: url("/img/inside_2_top.png") 
	background-position:  50% 30%
	.wrap_right_item	
		height: 350px
		h3
			padding-top: 20px
			letter-spacing: 1px 
			margin-top: 0
			margin-bottom: 0
			text-align: center
h2
	font-family: "OpenSansRegular", sans-serif
	font-size: 35px
	text-align: center
	color: white
	font-weight: lighter
	line-height: 35px
	span
		font-family: "OpenSansBold", sans-serif
		display: block

h3
	color: $dark_blue
	font-size: 30px
	font-family: "OpenSansRegular", sans-serif
	font-weight: lighter
	span
		font-family: "OpenSansExtraBold", sans-serif
		color: $dark_yellow

h4
	font-family: "OpenSansSemiBold"
	font-size: 18px
	color: $dark_blue
	margin: 0

p
	font-size: 13px
	font-family: "OpenSansRegular", sans-serif
	color: $paragraf
	font-weight: lighter

.header_top_wrap
	margin-top: 10px
	.logo_header_wrap
		img
			width: 175px
	h3
		font-size: 16px
		margin-top: 20px
	.contacts_header
		margin-top: 8px
		img
			margin-right: 10px
			margin-top: -4px
	.call_me
		margin-top: 13px
		img
			display: inline-block
			float: left
			margin-right: 10px
		.text_call_me
			float: left
			font-family: "OpenSansRegular", sans-serif
			font-size: 14px
			color: $paragraf
			display: inline-block
			a
				display: block
				color: $dark_yellow
				font-family: "OpenSansBold", sans-serif
				font-size: 15px
				border-bottom: 1px dotted $dark_yellow
				line-height: 16px
				margin-bottom: 5px
				&:hover
					color: $section_blue
.phone
	font-size: 18px
	font-family: "OpenSansRegular", sans-serif
	color: $dark_blue
	span
		font-family: "OpenSansSemiBold"
.email
	color: $paragraf
	font-size: 14px

.mnu_fixed
	background: white
	position: fixed
	top: 0
	width: 100%
	z-index: 1500
	margin-top: -15px
	display: none

.header_nav
	border-top: 1px solid #efefef
	margin-top: 10px
	width: 100%
	position: relative
	ul
		margin: 0
		padding: 0
		li
			float: left
			list-style-type: none
			padding: 20px 25px
			font-size: 13px
			font-family: "OpenSansBold", sans-serif
			text-transform: uppercase
			cursor: pointer
			position: relative
			ul
				position: absolute
				z-index: 1000
				margin-top: 20px
				width: 100%
				left: 0
				display: none
				li
					width: 100%
					padding: 10px 20px
					float: none
					display: block
					border-bottom: 1px solid #efefef
					background: $dark_yellow
					position: relative
					a
						color: white
					&:first-child
						padding-left: 20px
					&:hover
						background: darken($dark_yellow, 15%)
						ul
							display: block
						a
							color: white
					ul
						position: absolute
						top: -20px
						left: 231px
						display: none
					i 
						position: absolute
						right: 10px
						top: 5px
						font-size: 20px

			i
				font-size: 8px
				vertical-align: top
				display: inline-block
				margin-top: 6px
				margin-left: 2px
			a
				color: $dark_blue
				text-decoration: none
				transition: all .2s ease
			&:first-child
				padding-left: 0
			&:hover, &:active, &:focus
				a
					color: $dark_yellow
				> ul
					display: block
					> li
						> a
							color: white
	> i
		position: absolute
		right: 20px
		top: 20px
		font-size: 20px
		color: $dark_blue
		cursor: pointer
		&:hover
			color: $dark_yellow

.toggle-mnu 
	display: inline-block
	width: 28px
	height: 28px
	margin-top: 20px
	margin-left: 20px
	float: left
	span:after, span:before 
		content: ""
		position: absolute
		left: 0
		top: 9px

	span:after
		top: 18px

	span 
		position: relative
		display: block

	span, span:after, span:before
		width: 100%
		height: 2px
		background-color: $dark_blue
		transition: all 0.3s
		backface-visibility: hidden
		border-radius: 2px


	&.on span 
		background-color: transparent

	&.on span:before 
		transform: rotate(45deg) translate(-1px, 0px)

	&.on span:after 
		transform: rotate(-45deg) translate(6px, -7px)


.hidden-mnu
	background-color: $dark_yellow
	display: none
	margin-top: 20px
	width: 100%
	ul
		display: block
		padding: 40px 0
		text-align: center
		li
			float: none
			display: block
			width: 100%
			padding: 20px 0
			position: relative
			&:hover
				background: rgba(0,0,0,.44)
			a
				font-size: 16px
				font-family: 'RobotoRegular'
				text-transform: uppercase
				width: 100%
				padding: 20px 0
				color: white
				i
					font-size: 15px
					right: 25px
					top: 25px					
					position: absolute
				&:hover
					color: #fff
					text-decoration: none
			&.active
				a
					color: black


.section_1
	height: 400px
	position: relative
	overflow: hidden
	img
		width: 100%
    height: auto
	.shadow_header_slider
		position: absolute
		height: 540px
		width: 540px
	
		border-radius: 50%
		background: rgba(0,0,0, .7)
		top: -80px
		right: 19%
		text-align: center
		img
			width: 55px!important
			height: 42px!important
			margin-top: 110px
			margin-left: auto
			margin-right: auto
		h4
			color: white
			font-size: 15px
		h2
			margin-top: 20px
			span
				color: #fff
		.buttons_slider
			text-align: center
			button
				display: inline-block
				text-align: center
				margin-top: 20px
				border: 1px solid $dark_yellow
				&:hover
					background-color: $section_blue
					border: 1px solid $dark_blue
				&:first-child
					background-color: transparent
					border: 1px solid white
					&:hover
						background-color:	#fff
						color: $dark_blue
	.owl-nav
		position: absolute
		top: 50%
		margin-top: -15px
		color: white
		width: 100%
		.owl-prev
			float: left
			font-size: 30px
			margin-left: 7%
		.owl-next
			float: right
			font-size: 30px
			margin-right: 7%
	.owl-dots
		position: absolute
		bottom: 100px
		display: block
		left: 50%
		margin-left: -38px
		.owl-dot
			width: 5px
			height: 5px
			float: left
			background: #fff
			margin-right: 10px
			border-radius: 50%
		.active
			width: 11px
			height: 11px
			margin-top: -3px