@import "bourbon"
@import "vars.sass"
@import "fonts.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

h2
	color: #fff
	font-size: 30px
	font-family: "OpenSansRegular" 
	text-align: center
	margin-top: 50px
	span
		color: $dark_yellow 
		font-family: "OpenSansExtraBold"


.section_landing_2
	background-color:	$dark_blue
	min-height: 395px
	h3
		color: #fff
	p 
		color: #fff
		font-family: "OpenSansSemibold"
		font-size: 16px
		line-height: 2.2
		img
			margin-right: 14px
	button
		color: #fff
		padding: 8px 23px
		font-family: "OpenSansBold"
		font-size: 14px
		border: 1px solid #5b7689
		border-radius: 5px 
		background-color: $dark_blue
		margin-top: 20px
		&:hover
			background-color: $dark_yellow
			border: 1px solid $dark_yellow
	.wrap_landing_button
		text-align: center
.section_landing_3	
	background: url(../img/sec_4_bg1.png)!important		
.section_landing_4
	min-height:	270px
	h2
		color: #14344b
	p 
		color: $paragraf
		font-family: "OpenSansSemibold"
		font-size: 16px
		line-height: 2.2
		img
			margin-right: 14px
.section_landing_5
	background-color: #f8f8f8!important
	h3
		color: $dark_blue!important
	.sec_7_item
		p
			color: $paragraf!important
		span
			color: $dark_blue!important
		button:hover
			background-color: $section_blue!important
			color: #fff!important	
	.down_button
		background-color: transparent
		border: 1px solid $dark_blue!important
		color: $dark_blue!important
		margin-top: 40px
		margin-bottom: 0px!important
		&:hover
			background-color: $section_blue!important
			color: #fff!important

		
.section_landing_6
	min-height: 720px
	h2
		color: #14344b
		margin-bottom: 0px
	p
		color: $paragraf
		font-size: 18px
		font-family: "OpenSansSemibold"
		text-align: center
		margin-top: 10px
		span
			font-family: "OpenSansRegular"
			font-size: 14px
	.wrap_section6_content
		img
			max-height: 250px
			filter: grayscale(100%)  
			padding-top: 1px

		.col-md-3	
			padding: 0px!important
			padding-left: 1px!important
			overflow: hidden
.section_landing_7
	min-height: 820px
	background-color: #f8f8f8
	.wrap_section7_last_item
		margin-top: 20px
	.wrap_section7_left_item	
		img
			width: 93px
			height: 93px	
			filter: grayscale(100%)
			display: block
		p
			width: 50px
			float: left
			display: block
			text-align: center
			color: $dark_blue
			font-family: "OpenSansExtraBold"
			font-size: 12px
			span
				margin-left: 20px
	.wrap_section7_content	
		float: right
		min-height: 250px
		width: 75%
		background-color: #FFF
		border-radius: 5px
		border: 1px solid #e7e7e7
		position: relative
		padding: 30px 30px
		margin-top: -90px
		margin-bottom: 5px
		img
			position: absolute
			left: -40px
			top: 25%
			width: 10%
			height: 10%	
		span
			color: $dark_yellow
			font-family: "OpenSansExtraBold"
			line-height: 1
			font-size: 70px
			height: 30px
			vertical-align: top
		h4
			margin-left: 60px
			
			color: $dark_blue
			font-size: 16px
			font-family: "OpenSansSemibold"	
		p 
			color: $paragraf
			font-size: 14px
			font-family: "OpenSansItalic"	
	button
		background-color: transparent
		border: 1px solid $dark_blue
		color: $dark_blue
		margin-top: 40px
		margin-bottom: 45px	
		&:hover
			background-color: $dark_yellow
			border: 1px solid $dark_yellow
			color: #fff	
section
	h3
		text-align: center
.landing_page_map
	background: url(../img/landing_page_map.png) center center no-repeat	
	background-size: cover
	height: 390px
	.wrap_map_content
		background-color: $dark_blue
button
	padding: 10px 30px
	background: $dark_yellow
	border: none
	border-radius: 5px
	color: white
	font-family: "OpenSansBold"
	font-size: 14px
	display: block
	margin-left: auto
	margin-right: auto
	margin-top: 45px

.section_3
	padding: 45px 0px
	h3
		margin-top: 0
	.sec_3_item
		text-align: center
		margin-top: 20px
		.foto_wrap_3
			text-align: center
			width: 90px
			height: 90px
			margin-left: auto
			margin-right: auto
			background: $dark_yellow
			border-radius: 50%
			padding-top: 20px
		h4
			margin-top: 20px
		p
			margin-top: 10px

.section_4
	
	background: url(../img/sec_4_bg.png)
	background-position:  50% 50%
	min-height: 250px
	.sec_4_shadow
		width: 60%
		min-height: 250px
		margin-left: auto
		margin-right: auto
		text-align: center
		background: url(../img/sec_4_shadow.png)
		background-size: cover
		background-position: 50% 50%
		background-repeat: no-repeat	
		h2
			line-height: 35px
			margin-bottom: 0
		p
			color: white
			font-size: 15px
			font-family: "OpenSansSemiBold"
			margin-top: 15px
			font-weight: lighter
		button
			display: inline
			margin-top: 15px
			padding: 10px 20px
			&:hover
				background-color: $section_blue
		input
			padding: 10px 20px
			border: none
			font-size: 13px
			border-radius: 3px
			font-family: "OpenSansRegular"
			color: $paragraf
			width: 210px
			outline: none
			margin-top: 15px
		br 
			display: none	
.section_main_landing_2
	background-color: #f8f8f8	
	min-height: 395px
	padding-bottom: 30px
	p 
		color: $dark_blue
		font-family: "OpenSansSemibold"
		font-size: 16px
		line-height: 2.2
		img
			margin-right: 14px
	button
		color: #fff
		padding: 8px 23px
		font-family: "OpenSansBold"
		font-size: 14px
		border-radius: 5px 
		background-color: $dark_yellow
		margin-top: 20px
		&:hover
			background-color: $section_blue
	.wrap_landing_button
		text-align: center
.section_landing_8
	min-height: 215px
	background-color: $dark_blue
	padding-top: 30px	
	.wrap_section8_content
		position: relative
		img
			position: absolute
		p
			font-family: "OpenSansSemibold"
			font-size: 16px
			color: #fff	
			margin: 0 0 40px	0
		h4
			color: $dark_yellow
			font-size: 100px
			font-family: "OpenSansExtraBold"
			line-height: 30px
			span
				font-size: 22px
			p
				font-family: "OpenSansRegular"!important
				font-size: 14px
				color: #fff
				margin: 0
	.item_1
		img
			left: 0
			top: 45px
		h4
			text-align: center
			padding-left: 40px
	.item_2
		margin-left: 30px
		margin-right: 55px
		img
			right: 20px
			top: 45px
	.item_3
		margin-right: 20px			
		img
			left: 0
			top: 40px
		h4
			text-align: center
			padding-left: 80px
			span
				margin-left: 50px
			p 
				margin-left: 70px
	.item_4
		margin-left: 100px
		margin-right: 25px
		img
			right: 0px
			top: 45px		
.section_landing_12
		background: #244861
		min-height: 312px
		.scheme_work
			padding: 0px!important
			margin-top: 0px!important
.section_5
	padding-bottom: 25px
.sec_5_item
	width: 100%
	height: 170px
	overflow: hidden
	position: relative
	margin-top: 30px
	img
		&:first-child
			position: absolute
			top: -90px
			left: 0
			z-index: 850
		&:nth-child(2)
			position: absolute
			top: -60px
			right: -200px
			z-index: 1000
	.sec_5_item_content
		position: absolute
		width: 280px
		z-index: 1200
		top: 0
		right: 0
		h2
			text-align: left
			margin: 0
			line-height: 35px
			margin-top: 40px
			span
				color: $dark_blue
				font-size: 40px
				font-family: "OpenSansExtraBold", sans-serif
				font-weight: bold
		p
			color: white
			font-size: 14px
.sec_item_5
	img
		&:first-child
			top: -50px
		&:nth-child(2)
			right: -150px

.section_6
	padding-top: 25px
	padding-bottom: 50px
	img
		width: 100%
	.sec_6_content
		h3
			text-align: left
			margin: 0
		h4
			margin-top: 20px
		button
			background-color: transparent
			border: 1px solid $dark_blue
			color: $dark_blue
			float: left
			margin-top: 40px
			&:hover
				background-color: $dark_yellow
				border: 1px solid $dark_yellow
				color: #fff

.section_7
	background: $section_blue
	padding: 45px 0px
	.col-md-3
		padding: 0 1px
	h3
		color: white
		margin-top: 0
	.sec_7_item
		margin-top: 40px
		.img_wrap_7
			overflow: hidden
			height: 250px
			width: 100%
			position: relative
			
			.img_shadow_7
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: rgba(#04263e, .35)
				display: flex
				h4
					margin: auto
					color: white
					font-size: 20px
		.sec_7_item_content
			.left_content_7
				float: left
				span
					color: white
					font-size: 20px
					font-family: "OpenSansExtraBold"
					margin: 0
				p
					color: white
					margin: 0
					margin-top: 10px
			button
				float: right
				margin-top: 15px
				margin-right: 3px
				&:hover
					background-color: #FFF
					border: 1px solid #fff
					color: $dark_blue
	button:hover
		background-color: $dark_yellow
		border: 1px solid $dark_yellow

.transparent_button
	background-color: transparent
	border: 1px solid white

.section_9
	background: #f8f8f8
	padding: 45px 0px
	h3
		text-align: left
	.sec_9_left_wrap
		.sec_9_left_item
			width: 100%
			margin-top: 20px
			img
				width: 100%
				height: 100px
	button
		background-color: transparent
		border: 1px solid $dark_blue
		color: $dark_blue
		float: left
		&:hover
			border: 1px solid $dark_yellow
			background-color: $dark_yellow
			color: #fff
	.sec_9_right_content
		width: 100%
		a
			display: inline-block
			margin-top: 10px

footer
	padding-bottom: 25px
	background: #04090d
	b
		margin-top: 40px
		display: inline-block
		font-family: "OpenSansBold"
		font-size: 13px
		color: white
		text-transform: uppercase
	ul
		margin: 0
		margin-top: 15px
		padding: 0
		li
			list-style-type: none
			font-size: 13px
			font-family: "OpenSansRegular"
			margin-top: 5px
			a
				color: $paragraf
				text-decoration: none
				&:hover, &:active, &:focus
					color: white
					text-decoration: none
	img
		margin-right: 10px
	.phone
		color: white
		margin-top: 40px
	.email
		color: white
	.soc_footer
		margin-top: 30px
		li
			float: left
			width: 35px
			height: 35px
			border-radius: 50%
			text-align: center
			background: #1c2432
			padding-top: 2px
			margin-right: 10px
			a
				color: white
				font-size: 20px
	.address
		color: white
		width: 100%
		margin-top: 40px
		margin-left: 20px
		img
			float: left
			display: block
		.text_call_me
			float: left
			display: block
			font-size: 14px
			width: 80%
	.col-md-2
		padding: 0

.section_8
	padding: 45px 0
	position: relative
	h3
		margin-top: 0
	.loop
		margin-top: 20px
		.item
			height: 420px
			img
				width: 310px
				height: 300px
				margin-top: 100px
				margin-left: auto
				margin-right: auto
				filter: grayscale(100%)
				opacity: .6
		.center
			transform: scale(1.6)
			z-index: 1000
			img
				filter: grayscale(0%)
				opacity: 1
	.wrap_nav_bottom
		background: #f8f8f8
		border-radius: 50%
		width: 40px
		height: 40px
		text-align: center
		padding-top: 8px
	.owl-nav
		position: absolute
		top: 50%
		margin-top: -80px
		width: 100%
		color: #c8cccf
		.owl-prev
			float: left
			margin-left: -30px
		.owl-next
			float: right
			margin-right: -30px
	button
		background-color: transparent
		border: 1px solid $dark_blue
		color: $dark_blue
		margin-top: 0
		&:hover
			border: 1px solid $dark_yellow
			background-color: $dark_yellow
			color: #fff


.section_inside_2_content
	padding: 50px 0px

	.sidebar_wrap
		.sidebar_mnu
			.mnu_top_orange
				width: 100%
				min-height: 55px
				background: $dark_yellow
				text-align: center
				padding: 12px 0
				color: white
				font-family: "OpenSansBold"
				font-size: 18px
				img
					margin-top: -10px
					margin-left: 5px
			.mnu_top_blue
				min-height: 90px
				background: #244861
				position: relative
				img
					position: absolute
					top: 15px
				.mnu_top_blue_info
					width: 50%
					float: right
					color: white
					line-height: 18px
					p
						font-family: "OpenSansBold"
						color: white
						font-size: 18px
						margin-top: 15px
						span
							color: $dark_yellow
							font-size: 23px
			.mnu_wrap_sidebar
				ul
					margin: 0
					padding: 18px 16px
					background: #f8f8f8
					li
						list-style-type: none
						font-size: 14px
						font-family: "OpenSansSemiBold"
						&:not(:last-child)
							border-bottom: 1px solid #e7e9eb
						a
							color: $dark_blue
							text-decoration: none
							padding: 10px 0
							display: block
							i
								display: inline-block
								float: right
								margin-top: 5px
								color: #cbd1d5
		.sidebar_video
			max-width: 275px
			margin-top: 15px
			position: relative
			img
				width: 100%
			a
				background: url(../img/play.png) center center no-repeat
				display: block
				width: 32px
				height: 32px
				position: absolute
				top: 50%
				margin-top: -16px
				left: 50%
				margin-left: -16px
		.sidebar_akce
			height: 257px
			max-width: 280px
			position: relative
			overflow: hidden
			margin-top: 15px
			img
				position: absolute
				&:first-child
					top: 0
				&:last-child
					bottom: -180px
					left: -100px
			.akce_info
				position: absolute
				bottom: 0
				text-align: center
				z-index: 1000
				left: 50%
				margin-left: -114px
				h4
					font-size: 30px
					color: $dark_blue
					font-family: "OpenSansExtraBold"
					padding: 0
					line-height: 30px
					padding-left: 50px
					margin: 0
					text-align: right
				p
					color: white
					font-size: 16px
					font-family: "OpenSansSemiBold"
					margin: 0
					margin-top: 10px
					margin-bottom: 10px
					width: 100%
					display: block
					margin-left: auto
					margin-right: auto
					line-height: 22px
					span
						font-size: 22px
						display: block
						font-family: "OpenSansExtraBold"
		.sidebar_call_me
			min-height: 310px
			max-width: 300px
			width: 100%
			background: #244861
			margin-top: 15px
			text-align: center
			padding: 12px 15px
			p
				font-size: 20px
				font-family: "OpenSansSemiBold"
				color: white
				line-height: 24px
				span
					display: block
					font-family: "OpenSansExtraBold"
					color: $dark_yellow
			input
				display: block
				width: 100%
				border: none
				margin-top: 5px
				border-radius: 5px
				height: 33px
				padding: 10px 15px
				font-size: 13px
				font-family: "OpenSansRegular"
			button
				margin-top: 12px
				border: 1px solid $dark_yellow 
				&:hover
					background-color: $section_blue
					border: 1px solid #fff 
	.inside_2_content
		.section_4
			.sec_4_shadow 
				margin-right: 0!important
				margin-left: 7%!important	
		.section_landing_4
			margin-top: 20px
			.col-md-9	
				padding: 0
				h3
					text-align: center!important
			.col-md-4
				padding: 0
				&:first-child
					margin-right: 50px
								
		.col-md-4
			&:not(:first-child)
				padding-left: 1px
			&:not(:last-child)
				padding-right: 1px
		h3
			text-align: left
			margin: 0
			font-family: "OpenSansSemiBold"
			line-height: 35px
		.img_content_in_wrap
			height: 250px
			width: 100%
			overflow: hidden
			margin-top: 30px
		.inside_2_content_item
			height: 90px
			background: #244861
			margin-top: 5px
			text-align: center
			margin-bottom: 30px
			img
				display: inline-block
				margin-right: 30px
				margin-top: -30px
			p
				margin: 0
				display: inline-block
				text-align: left
				color: white
				font-size: 16px
				font-family: "OpenSansSemiBold"
				margin-top: 15px
				span
					display: block
					color: $dark_yellow
					font-size: 20px
					font-family: "OpenSansExtraBold"
		ul
			margin: 0
			padding: 0
			padding-left: 20px
			li
				font-size: 13px
				color: $paragraf
				font-family: "OpenSansRegular"
				margin-top: 15px
				span
					font-family: "OpenSansExtraBold"
		.inside_2_content_images			
			.col-md-3
				img
					width: 100%
					margin-top: 20px
					filter: grayscale(100%)
					opacity: .7
		h4
			margin-top: 15px
		.zakaz_uslug
			background: #f8f8f8
			padding: 25px 30px
			margin-top: 30px
			margin-bottom: 30px
			p
				width: 75%
				float: left
			button
				margin: 0
				margin-top: 15px
				float: right
				&:hover
					background-color: $section_blue
		.bottom_content_info
			border-top: 1px solid #e7e9eb
			margin-top: 25px
			font-size: 12px
			color: #c6cace
			span
				color: $paragraf
				font-family: "OpenSansExtraBold"
			p
				display: inline-block
				margin-top: 20px
			ul
				padding: 0
				vertical-align: top
				margin-left: 20px
				display: inline-block
				li
					list-style-type: none
					float: left
					width: 30px
					height: 30px
					border-radius: 50%
					text-align: center
					color: white
					padding-top: 5px
					margin-right: 5px
					&:first-child
						background: #1f599b
					&:nth-child(2)
						background: #00abf2
					&:nth-child(3)
						background: #25668c
					&:nth-child(4)
						background: #ff9300
					&:nth-child(5)
						background: #dc2d00
	.scheme_work
		background: #244861
		min-height: 312px
		padding: 30px
		margin-top: 40px
		h3
			text-align: center
			color: white
			font-family: "OpenSansRegular"
			margin-top: 0
		.scheme_work_item
			text-align: center
			width: 100%
			margin-top: 40px
			h4
				color: white
				font-size: 18px
				font-family: "OpenSansSemiBold"
				span
					color: $dark_yellow
					font-family: "OpenSansExtraBold"
			p
				color: #88a1b3
		.last_item_scheme
			margin-top: 27px
.section_inside_3_content
	padding: 50px 0px
	.sec_5_item
		margin-top: 50px!important
	.col-md-6
		padding: 0
		&:first-child
			padding-right: 20px
	.sidebar_wrap
		.sidebar_akce
			height: 257px
			max-width: 280px
			position: relative
			overflow: hidden
			margin-top: 15px
			img
				position: absolute
				&:first-child
					top: 0
				&:last-child
					bottom: -180px
					left: -100px
			.akce_info
				position: absolute
				bottom: 0
				text-align: center
				z-index: 1000
				left: 50%
				margin-left: -114px
				h4
					font-size: 30px
					color: $dark_blue
					font-family: "OpenSansExtraBold"
					padding: 0
					line-height: 30px
					padding-left: 50px
					margin: 0
					text-align: right
				p
					color: white
					font-size: 16px
					font-family: "OpenSansSemiBold"
					margin: 0
					margin-top: 10px
					margin-bottom: 10px
					width: 100%
					display: block
					margin-left: auto
					margin-right: auto
					line-height: 22px
					span
						font-size: 22px
						display: block
						font-family: "OpenSansExtraBold"
		.sidebar_call_me
			min-height: 310px
			max-width: 300px
			width: 100%
			background: #244861
			margin-top: 15px
			text-align: center
			padding: 12px 15px
			p
				font-size: 20px
				font-family: "OpenSansSemiBold"
				color: white
				line-height: 24px
				span
					display: block
					font-family: "OpenSansExtraBold"
					color: $dark_yellow
			input
				display: block
				width: 100%
				border: none
				margin-top: 5px
				border-radius: 5px
				height: 33px
				padding: 10px 15px
				font-size: 13px
				font-family: "OpenSansRegular"
			button
				margin-top: 12px
				border: 1px solid $dark_yellow 
				&:hover
					background-color: $section_blue
					border: 1px solid #fff 
		.sidebar_filter
			background-color: #f8f8f8
			padding-top: 25px
			padding-bottom: 15px
			.sidebar_filter_item
				h4
					font-family: "OpenSansBold"
					font-size: 15px
					margin-left: 20px
					margin-bottom: 10px
				input
					margin-left: 20px
				p
					display: inline-block	
					font-family: "OpenSansRegular"
					font-size: 13px
					color: $paragraf
					margin: 0
					margin-left: 15px
					margin-bottom: 5px
				hr 
					width: 85%
			.sidebar_filter_range
				padding-bottom: 10px
				hr 
					width: 85%
				h4
					font-family: "OpenSansBold"
					font-size: 15px
					margin-bottom: 10px
					margin-left: 20px
				span
					font-size: 13px
					font-family: "OpenSansRegular"
					color: #848d94
					&:first-child
						margin-left: 20px
				input
					display: inline-block
					width: 57px
					height: 30px
					border: 1px solid #e7e9eb
					border-radius: 3px
					margin-left: 8px
					margin-right: 8px
					padding: 10px
					font-size: 13px
					color: #848d94
					font-family: "OpenSansRegular"
					outline: none
				.pols_sp
					margin-bottom: 10px
					span
						&:first-child
							float: left
						&:last-child
							float: right
							margin-right: 8px
			.sidebar_filtter_button
				button
					margin-top: 0
					&:hover
						background-color: $section_blue
					&:nth-child(2)
						background: transparent
						color: #48a1df
						text-decoration: underline
						text-decoration-style: dashed
						font-family: "OpenSansRegular"
						font-size: 13px
						margin-left: 0
						padding-left: 20px
						padding-top: 20px
					
	.inside_3_content
		.wrap_inside_3_item_bottom 
			
		.col-md-4
			&:not(:first-child)
				padding-left: 1px
			&:not(:last-child)
				padding-right: 1px
		h3
			text-align: left
			margin: 0
			font-family: "OpenSansSemiBold"
			line-height: 35px
	.col-md-4
		padding: 1px		
	.item_3_wrap
		position: relative
		height: 365px
		transition: all .5s ease
		z-index: 1000
		margin-bottom: -80px
		.inside_3_item
			position: absolete
			margin-top: 20px
			width: 100%
			img
				width: 100%
				height: 218px
				transition: all .5s ease
				z-index: 900
			
			.akce_in_3
				position: absolute
				height: 49px
				width: 63px
				top: 0
				left: 20px
				background: url(../img/item_akce.png)
				text-align: center
				padding-top: 8px
				span
					color: white
					font-size: 11px
					font-family: "OpenSansExtraBold"
			.new_projekt
				background: url(../img/item_akce2.png)	
				p 
					text-transform: uppercase	
					color: white
					font-size: 11px
					font-family: "OpenSansExtraBold"
					margin-top: 3px
					line-height: 1.1
			.inside_3_item_info
				transition: all .5s ease
				p
					margin-bottom: 0	
					font-size: 14!important
				span
					font-size: 20px
					font-family: "OpenSansExtraBold"
					color: $dark_blue
					margin-top: 0
				b 
					text-decoration: line-through
					color: $paragraf
					font-family: "OpenSansRegular"
					font-size: 14px
					margin-left: 20px	
				button
					display: none
					background-color: transparent
					color: white
					border: 1px solid white
					margin-top: 10px
				#red_text
					color: #e43000			
		&:hover
			background: $dark_yellow
			transform: scale(1.05)
			z-index: 1100
			img
				z-index: 800
				transform: scale(.95)
			.inside_3_item_info
				padding: 0 10px
				transition: all .5s ease
				p
					color: white
				span
					color: white
				b
					color: #fff	
				#red_text
					color: #fff
				button

.wrap_ask
	width: 140px
	img
		width: 30%
	div
		text-align: center
		font-family: "OpenSansRegular"
		font-size: 13px	
		color: $paragraf
		background-color: #f8f8f8
		padding-top: 10px
		height: 105px
		&:first-child
			padding-top: 0
	button
		background-color: $dark_yellow
		height: 95px
		border-radius: 0
		border: none
		margin: 0
		padding: 15px 5px
		width: 100% 
		p
			font-family: "OpenSansExtraBold"
			font-size: 14px	
			color: $dark_blue						
			display: block

.ui-slider-horizontal
	height: 6px!important
	margin-top: 20px
	width: 85%!important
	margin-left: 20px

.ui-widget-header
	background: #f79122!important

.ui-widget-content
	border: 1px solid #c4c4c4!important

.ui-slider-horizontal .ui-slider-handle
	top: -6px!important
	outline: none
	&:active
		background-color: #eeeeee
		border: 1px solid #c4c4c4!important
			

.section_landing_13
	.wrap_ask
		button
			background-color: $dark_yellow
			margin: 0
			border: none
			
	.col-md-2
		padding: 0px
			
	.col-md-4
		padding-left: 1px
		padding-right: 10px 
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5
  position: relative
  min-height: 1px
  padding-right: 10px
  padding-left: 10px

 
.col-xs-1-5 
  width: 20%
  float: left

 
@media (min-width: 768px) 
  .col-sm-1-5 
    width: 20%
    float: left
  

 
@media (min-width: 992px) 
  .col-md-1-5 
    width: 20%
    float: left
  

 
@media (min-width: 1200px) 
  .col-lg-1-5 
    width: 20%
    float: left
  





.croshki_wrap
	margin-top: 20px
	span
		font-size: 12px
		font-family: "OpenSansRegular"
		color: $paragraf
	i
		color: $dark_yellow
		margin-left: 10px
		margin-right: 10px


.viev_all
	padding: 15px 20px
	background: #f8f8f8
	margin-top: 22px
	h4
		margin: 0
		font-size: 13px
		font-family: "OpenSansExtraBold"
	a
		color: #48a1df
		text-decoration: none
		font-size: 12px
		display: inline-block
		&:not(:nth-child(2))
			padding-left: 10px
			margin-left: 10px
			border-left: 1px solid #dbdde0

.section_landing_9
	.sec_9_left
		padding: 50px 40px
		background: url(../img/sec_9_left.png)
		margin-top: 30px
		h3
			margin-top: 0
		h4
			font-size: 13px
			margin: 0
			font-family: "OpenSansBold"
		.ui-slider-horizontal
			width: 75%!important
			margin-left: 0
			float: left
		.sidebar_filter_item
			float: left
			&:first-child
				margin-right: 12px
			h4
				margin-bottom: 15px
			p
				display: inline-block
				float: left
				margin: 0
			input
				display: inline-block
				float: left
				margin-top: 5px
				margin-right: 10px
#inputsss
	height: 33px
	width: 60px
	padding: 10px 13px
	display: inline-block
	float: left
	margin-left: 15px
	margin-top: 8px
	border: none
	border-radius: 3px
	outline: none
	font-size: 13px
	color: #848d94
	font-family: "OpenSansRegular"

.sec_9_right
	background: #244861
	padding: 30px
	margin-top: 30px
	h3
		margin-top: 0
		font-size: 24px
		color: white
	input
		height: 40px
		margin-top: 10px
		width: 100%
		padding: 10px 17px
		font-size: 14px
		font-family: "OpenSansRegular"
		color: #848d94
		display: block
		border: none
		margin-left: auto
		margin-right: auto
		border-radius: 3px
	button
		margin-top: 20px
		border: 1px solid $section_blue
		&:hover
			background-color: $section_blue
			border: 1px solid #fff
	p
		text-align: center
		margin-top: 21px

.section_landing_10
	margin-top: 30px
	text-align: left
	margin-bottom: 40px
	h3
		text-align: left
		padding-left: 20px
		border-left: 5px solid #f79122
	button
		float: left
		&:hover
			background-color: $section_blue
	img
		margin-top: 100px

//ALWAYS END
@import "media"
